@model IEnumerable<Ebooks.Models.Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section product_order {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
}

@section Search {
    @using (Html.BeginForm("Index", "Books", "", FormMethod.Post, new { @class = "form-search-heading" }))
    {
        <div class="header__search-input-wrap">
            <input type="text" name="search" id="search" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">
            @*<div class="header__search-history">
                    <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                    <ul class="header__search-history-list">

                        <li class="header__search-history-item">
                            <a href=""></a>
                        </li>

                        <li class="header__search-history-item">
                            <a href=""></a>
                        </li>

                    </ul>
                </div>*@
        </div>
        <div class="header__search-select">
            <span class="header__search-select-label">Trong shop</span>

            <i class="header__search-select-icon fas fa-angle-down"></i>

            <ul class="header__search-option">
                <li class="header__search-option-item">
                    <span>Trong shop</span>
                    <i class="fas fa-check"></i>
                </li>
            </ul>
        </div>
        <button class="header__search-btn" type="submit">
            <i class="header__search-btn-icon fas fa-search"></i>
        </button>
    }

}

<div class="main-field__cart">
    <div class="cart__bill--header" id="header__cart">
        <div class="cart__bill-left">
            <p>Sản phẩm</p>
        </div>
        <div class="cart__bill-right">
            <div class="grid">
                <div class="row">
                    <div class="l-3">
                        <p class="unit-cart">Đơn giá</p>
                    </div>
                    <div class="l-3">
                        <p class="amount-cart">Số lượng</p>
                    </div>
                    <div class="l-3">
                        <p class="amount_of_price">Số tiền</p>
                    </div>
                    <div class="l-3">
                        <p class="operation-cart">Thao tác</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cart__list-product">
        <ul class="list-group grid">
            @foreach (var item in Model)
            {

                <li class="list-group__product--item" data-id="" data-price="">
                    <div class="cart__bill-left">
                        <a class="" href="@Url.Action("Detail", "Books", new {id = item.book_id })">
                            <img src="@Html.DisplayFor(modelItem => item.image)" alt="" class="img-fluid">
                        </a>

                        <a class="detail-field" href="@Url.Action("Detail", "Books", new {id = item.book_id })">
                            <p class="book-name">Sách: @Html.DisplayFor(modelItem => item.name)</p>
                            <p class="book-author">Tác giả:  @Html.DisplayFor(modelItem => item.author)</p>
                        </a>

                        <div class="cart__product-main-classify">
                            <div class="book-category">Thể loại sách: </div>
                            <div class="book-cate-name">@Html.DisplayFor(modelItem => item.category_name)</div>
                        </div>
                    </div>

                    <div class="cart__bill-right">
                        <div class="grid">
                            <div class="row">
                                @using (Html.BeginForm("UpdateCart", "Cart", new { @id = item.book_id }, FormMethod.Post, new { @class = "form-cart_change--qty" }))
                                {
                                    <div class="l-3">
                                        <span class="product__unit-price">@String.Format("{0:0,0}", item.price)đ</span>
                                    </div>


                                    <div class="l-3">
                                        <div class="d-flex product__amount-main">
                                            <button type="submit" id="sub" class="product__amount-main-minus sub btn-minus format-btn">-</button>
                                            <input type="text" min="1" name="txtSoLg" id="txtQuantity" value="@item.qty" class="product__amount-main-input-content form-control-sm qty-input">
                                            <button type="submit" id="add" class="product__amount-main-plus btn-plus add format-btn-plus">+</button>
                                        </div>
                                    </div>
                                    <div class="l-3">
                                        <div class="amount-field">
                                            <span class="amount">@String.Format("{0:0,0}", @Html.DisplayFor(modelItem => item.total))</span>
                                            <span>đ</span>
                                        </div>
                                    </div>
                                    <div class="l-3">
                                        <span class="float-right">
                                            <button class="btn-t-2 btn-sm btn-outline-danger rem_item mg-bot-5" onclick="location.href='@Url.Action("DeleteCart", "Cart", new { @id = item.book_id })';" type="button" data-id="">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </span>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="cart__pay-total" id="total__product--price">
            <div class="cart__bill-left"></div>
            <div class="cart__bill-right">

                <div class="cart__product-pay-total-right-all">Tổng Thanh Toán: </div>

                <div class="cart__product-pay-total-right-price">
                    <h4 class="text-right" id="tamount">@String.Format("{0:0,0}", @ViewBag.TotalPrice)</h4>
                    <span>đ</span>
                </div>

                <button class="btn product-btn-buy" id="checkout" onclick="location.href='@Url.Action("Order", "Cart")'" type="button">Mua Hàng</button>

            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        $('.add').click(function () {
            $(this).prev().val(+$(this).prev().val() + 1);
        });
        $('.sub').click(function () {
            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
        });
    </script>
}
